DTD_B2/Ass1/order.dtd

<!ELEMENT Orders (Order*)>
    <!ELEMENT Order (OrderNo,OrderDate,CustomerName,Detail+)>
    <!ELEMENT OrderNo (#PCDATA)>
    <!ELEMENT OrderDate (#PCDATA)>
    <!ELEMENT CustomerName (#PCDATA)>
     <!ELEMENT Detail (#PCDATA)>
     <!ATTLIST Detail ItemNo ID #REQUIRED>
     <!ATTLIST Detail ItemName CDATA  #REQUIRED>
     <!ATTLIST Detail Quantity CDATA  "1">
     <!ATTLIST Detail Price CDATA "0">